<template name="posts_digest">
    <div class="grid">
      <div class="grid-block">
        Os top 5 posts de cada dia. |
      {{#if showPreviousDate}}
      <a href="{{previousDateURL}}" class="prev-link">Dia anterior</a> |
      {{/if}}
      {{currentDate}} |
      {{#if showNextDate}}
      <a href="{{nextDateURL}}" class="next-link">Próximo dia</a>
      {{/if}}
      </div>
    </div>
    <div class="posts grid list">
      {{#if hasPosts}}
        {{#each posts}}
          {{> post_item}}
        {{/each}}
      {{else}}
        <p class="empty-notice">Desculpe, nada para hoje.</p>
      {{/if}}
    </div>
</template>