<template name="user_signin">
  <div class="grid-small grid-block dialog signin">
    <h2>Entrar</h2>
    <div class="twitter-signup twitter-auth">
      <a class="twitter-button button" href="#">Cadastrar/Entrar com Twitter</a>
    </div>
    <div class="regular-signup regular-auth">
      <form>
        <div class="control-group">
          <label>Usuário</label>
          <div class="controls"><input id="username" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Senha</label>
          <div class="controls"><input id="password" type="password" value="" /></div>
        </div>
        <div class="form-actions">
          <a href="/forgot_password">Esqueceu a senha?</a>
          <input type="submit" class="button" value="Sign In" />
        </div>
      </form>
    </div>
  </div>
  <p class="grid-small footer-notice">Não tem uma conta? <a href="signup" id="signup">Cadastre-se!</a></p>
</template>