<template name="user_signup">
  <div class="grid-small grid-block dialog signup">
    <h2>Entrar</h2>
    <div class="twitter-signup twitter-auth">
      <a class="twitter-button button" href="#">Cadastrar/Entrar com Twitter</a>
    </div>
    <div class="regular-signup regular-auth">
      <form>
        <div class="control-group">
          <label>Usuário</label>
          <div class="controls"><input id="username" name="username" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Email</label>
          <div class="controls"><input id="email" name="email" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Senha</label>
          <div class="controls"><input id="password" name="password" type="password" value="" /></div>
        </div>
        <div class="form-actions">
          <input type="submit" class="button" value="Cadastrar" />
        </div>
      </form>
    </div>
  </div>
  <p class="grid-small footer-notice">Já possui uma conta? <a href="signin" id="signin">Faça login!</a></p>
</template>